# The dir where mysqlbu will be installed
dir = /data/backup/mysqlbu

# The name of the repository containing the backup-data
repo = backup
# The upstream repository
upstream = ssh://git@git.unterrainer.info:2222/myrepo/backup.git
# The commit message for the dumps
message="Daily backup."
arr = ("one" "two" "three"  4)  
[files]
# The file name of the dumps
file="dump.sql"
arr2=(true false "'hi'" '"there"' blah)

